@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes fadeInInfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes blobRotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -180deg;
  }
}
@keyframes blobRotationBackwards {
  from {
    rotate: -180deg;
  }
  to {
    rotate: 0deg;
  }
}

@keyframes top-tag-intro {
  from {
    top: -140%;
    left: 4%;
  }
  to {
    top: -30%;
    left: 4%;
  }
}
@keyframes top-tag-secondary {
  from {
    top: 30%;
    left: 0%;
  }
  to {
    top: -3%;
    left: 0%;
  }
}
@keyframes bottom-tag-intro {
  from {
    bottom: 0%;
    right: 4%;
  }
  to {
    bottom: -4%;
    right: 0%;
  }
}
@keyframes bottom-tag-secondary {
  from {
    bottom: 35%;
    right: 15%;
  }
  to {
    bottom: -3%;
    right: -3%;
  }
}
@keyframes brand {
  from {
    filter: grayscale(100);
    transform: scale();
  }
  to {
    filter: grayscale(0);
    transform: scale(120%);
  }
}
@keyframes blob-rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 180deg;
  }
}
@keyframes blob-rotation-backwards {
  from {
    rotate: 180deg;
  }
  to {
    rotate: 0deg;
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes upDownRotation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0px);
  }
}
