@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transitionEaseInOut($duration) {
  transition: all ease-in-out $duration;
}

@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (max-width: 1600px) {
    @content;
  }
}
