@media screen and (min-width: 1600px) {
  @include lineToLeftAnimation(40%, 120%, 0%, -8%, 106%);
  @include lineToRightAnimation(40%, 40%, 0%, -22%, 20%, 40%);
  @include lineToTopAnimation(40%, 50%, 0%, 80%, 0%, 45%);
  @include lineToBottomAnimation(40%, 100%, 0%, -8%, 0%, -10%);
}
@media screen and (max-width: 1600px) {
  @include lineToLeftAnimation(40%, 120%, 0%, 0%, 110%);
  @include lineToRightAnimation(40%, 100%, 0%, -60%, 20%, 30%);
  @include lineToTopAnimation(40%, 160%, 0%, 32%, 0%, 45%);
  @include lineToBottomAnimation(40%, 120%, 0%, -20%, 0%, -10%);
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  .container {
    max-width: 1024px;
  }
  main {
    .services-section {
      .heading {
        h2 {
          font-size: 4rem;
        }
        h3 {
          font-size: 3rem;
        }
      }
      .languages {
        gap: 4rem;
        div img {
          height: 150px;
          width: 150px;
        }
      }
    }
    .gallery {
      .heading {
        h2 {
          font-size: 4rem;
        }
      }
      .projects-container .project {
        &__text {
          h3 {
            font-size: 3rem;
          }
          p {
            font-size: 1.7rem;
          }
        }
        .project__img {
          width: 200px;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  @include lineToLeftAnimation(40%, 130%, 0%, -5%, 106%);
  @include lineToRightAnimation(40%, 130%, 0%, -65%, 20%, 40%);
  @include lineToTopAnimation(40%, 220%, 0%, 0%, 0%, 45%);
  @include lineToBottomAnimation(40%, 120%, 0%, -8%, 0%, -10%);
  .container {
    max-width: 960px;
  }

  .welcome {
    display: flex;
    position: sticky;
    top: 0;
    bottom: 0;
    gap: 6rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-logo {
      position: relative;

      .code_logo {
        animation: fadeInTransition 2s;
        @include transitionEaseInOut(1s);
      }
      .main_logo {
        animation: fadeInTransitionReversed 2s;
        @include transitionEaseInOut(1s);
      }

      #ge-logo {
        position: absolute;
        left: 6rem;
        top: 3rem;
        width: 310px;
      }
      .blob-shape {
        position: relative;
        right: 0.5rem;
        width: 390px;
      }
    }

    &-text {
      flex: 1;
      width: fit-content;
      position: relative;

      .intro-text {
        @include inter-font;
        position: relative;
        text-align: center;
        color: $text;

        .greet {
          @include roboto-bold-font;
          font-size: 64px;
          animation: fadeInTransitionReversed 2s;
        }
        .info {
          @include roboto-bold-font;
          font-size: 24px;
          animation: fadeInTransitionReversed 2s;
        }
        .intro {
          animation: fadeInTransition 2s;
        }
        hr.vertical {
          position: absolute;
          right: 20px;
          top: 0;

          &-short {
            animation: lineToRight 1s forwards;
            @include transitionEaseInOut(1s);
          }
          &-tall {
            animation: lineToLeft 1s forwards;
            @include transitionEaseInOut(1s);
          }
        }
      }

      hr.horizontal {
        position: absolute;
      }
      hr.toBottom {
        animation: lineToBottom 1s forwards;
        @include transitionEaseInOut(1s);
      }
      hr.toTop {
        animation: lineToTop 1s forwards;
        @include transitionEaseInOut(1s);
      }
    }
  }
  main {
    .services-section {
      .heading {
        h2 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
      .languages {
        gap: 2rem;
        div img {
          height: 100px;
          width: 100px;
        }
      }
    }
    .gallery .projects-container .project {
      &__text {
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      .project__img {
        width: 150px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  @include lineToLeftAnimation(40%, 120%, 0%, -8%, 106%);
  @include lineToRightAnimation(40%, 130%, 0%, -65%, 20%, 40%);
  @include lineToTopAnimation(40%, 100%, 0%, 55%, 0%, 45%);
  @include lineToBottomAnimation(40%, 100%, 0%, -8%, 0%, -10%);
  .welcome {
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 0;
    bottom: 0;
    gap: 12rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-logo {
      position: relative;

      .code_logo {
        animation: fadeInTransition 2s;
        @include transitionEaseInOut(1s);
      }
      .main_logo {
        animation: fadeInTransitionReversed 2s;
        @include transitionEaseInOut(1s);
      }

      #ge-logo {
        position: absolute;
        left: 6rem;
        top: 3rem;
        width: 310px;
      }
      .blob-shape {
        position: relative;
        right: 0.5rem;
        width: 390px;
      }
    }

    &-text {
      flex: 1;
      width: fit-content;
      position: relative;

      .intro-text {
        @include inter-font;
        position: relative;
        text-align: center;
        color: $text;

        .greet {
          @include roboto-bold-font;
          font-size: 64px;
          animation: fadeInTransitionReversed 2s;
        }
        .info {
          @include roboto-bold-font;
          font-size: 24px;
          animation: fadeInTransitionReversed 2s;
        }
        .intro {
          animation: fadeInTransition 2s;
        }
        hr.vertical {
          position: absolute;
          right: 20px;
          top: 0;

          &-short {
            animation: lineToRight 1s forwards;
            @include transitionEaseInOut(1s);
          }
          &-tall {
            animation: lineToLeft 1s forwards;
            @include transitionEaseInOut(1s);
          }
        }
      }

      hr.horizontal {
        position: absolute;
      }
      hr.toBottom {
        animation: lineToBottom 1s forwards;
        @include transitionEaseInOut(1s);
      }
      hr.toTop {
        animation: lineToTop 1s forwards;
        @include transitionEaseInOut(1s);
      }
    }
  }
  .container {
    max-width: 550px;
  }
  nav.navbar {
    .nav-burger,
    .nav-close {
      display: block;
    }
    .nav-list {
      display: none;
    }
  }

  main {
    .gallery {
      .heading {
        h2 {
          font-size: 2rem;
        }
      }
      .projects-container .project {
        &__text {
          div {
            margin-bottom: 10px;
          }
          h3 {
            font-size: 1.4rem;
          }
          p {
            font-size: 0.8rem;
          }
          .project__chevron {
            height: 46px;
          }
        }
        .project__img {
          width: 150px;
        }
      }
    }
  }

  footer {
    padding: 2rem;
    div:nth-child(2) p {
      display: none;
    }
  }
}
@media screen and (max-width: 550px) {
  .container {
    max-width: 439px;
  }
  main {
    .gallery {
      .heading {
        h2 {
          font-size: 1.6rem;
        }
      }
      .projects-container .project {
        &__text {
          h3 {
            text-wrap: wrap;
          }
          .project__chevron {
            height: 40px;
          }
        }
        .project__img {
          width: 100px;
        }
      }
    }
  }
}
@media screen and (max-width: 439px) {
  @include lineToLeftAnimation(40%, 120%, 0%, -8%, 106%);
  @include lineToRightAnimation(40%, 100%, 0%, -52%, 20%, 40%);
  @include lineToTopAnimation(40%, 315%, 0%, -54%, 0%, 45%);
  @include lineToBottomAnimation(40%, 110%, 0%, -8%, 0%, -10%);
  .container {
    width: 315px;
  }
  .greet {
    font-size: 48px !important;
  }
  .welcomeScrolled {
    margin-top: 8rem;
  }
  .info {
    font-size: 20px !important;
  }
  #ge-logo {
    width: 220px !important;
  }
  .blob-shape {
    width: 280px !important;
  }
  .welcome {
    gap: 4rem !important;
  }
  main {
    .gallery {
      .heading {
        padding: 0 40px;
        h2 {
          font-size: 1.2rem;
        }
      }
      .projects-container .project {
        width: 95%;
        &__text {
          div {
            margin-bottom: 10px;
          }
          h3 {
            font-size: 1rem;
            text-wrap: wrap;
          }
          p {
            font-size: 0.6rem;
          }
          .project__chevron {
            height: 32px;
          }
        }
        div .project__img {
          height: 80px;
          width: 80px;
        }
      }
    }
  }
  footer#contact {
    padding: 2rem 1rem;
    gap: 10px;
    div span p {
      font-size: 0.8rem;
    }
  }
}
@media screen and (max-width: 315px) {
  .container {
    width: 100%;
  }

  main {
    .services-section {
      .languages {
        gap: 2.5rem;
        div {
          gap: 1rem;
          img {
            height: 74px;
            width: 74px;
          }
        }
      }
      .heading {
        h3 {
          font-size: 0.8rem;
        }
        h2 {
          font-size: 1rem;
        }
      }
    }
    .gallery {
      .heading {
        h2 {
          font-size: 1rem;
        }
      }
      .projects-container .project {
        &__text {
          div {
            margin-bottom: 10px;
          }
          h3 {
            font-size: 0.8rem;
            text-wrap: wrap;
          }
          p {
            font-size: 0.6rem;
          }
          .project__chevron {
            height: 22px;
          }
        }
        div .project__img {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
  footer#contact div span p {
    font-size: 0.6rem;
  }
}
