@import "./config.scss";
@import "./animations.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "./responsive.scss";

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  width: 100vw;
  height: 4.8rem;
  border-radius: 0px 0px 10px 10px;
  background: #323232;
  z-index: 99;

  .nav-burger,
  .nav-close {
    display: none;
    cursor: pointer;
    z-index: 101;
    width: 1.5rem;
  }
  .nav-list {
    @include flexCenter;
    gap: 5rem;
    list-style: none;

    *a:hover {
      color: darken($color: $text, $amount: 20);
    }
  }

  .nav-list-mobile {
    visibility: hidden;
    z-index: 100;
    list-style: none;
    position: absolute;
    @include flexCenter;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba($color: $text, $alpha: 0.75);
    gap: 4rem;
    font-size: 4rem;
    transform: translateY(-100%);
    @include transitionEaseInOut(300ms);

    li {
      transform: translateX(300%);
      @include transitionEaseInOut(500ms);
      transition-delay: 200ms;
    }
    &.open {
      visibility: visible;
      transform: translateY(0);
      li {
        transform: translateX(0);
      }
    }
    *a {
      color: $main-color;
      font-weight: 900;
      font-size: 2.2rem;
      @include transitionEaseInOut(200ms);

      &:hover {
        color: $text;
      }
    }
  }
}

@for $i from 1 through 4 {
  .nav-list-mobile.open li:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.12s;
  }
}

.welcome-container {
  @include flexCenter;
  position: relative;
  min-height: 100vh;
}

.welcome {
  display: flex;
  position: sticky;
  top: 0;
  bottom: 0;
  gap: 12rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-logo {
    position: relative;

    .code_logo {
      animation: fadeInTransition 2s;
      @include transitionEaseInOut(1s);
    }
    .main_logo {
      animation: fadeInTransitionReversed 2s;
      @include transitionEaseInOut(1s);
    }

    #ge-logo {
      animation: upDown ease-in-out 2s infinite;
      position: absolute;
      left: 6rem;
      top: 3rem;
      width: 310px;
    }
    .blob-shape {
      right: 0.5rem;
      width: 390px;
    }
  }

  &-text {
    flex: 1;
    width: fit-content;
    position: relative;

    .intro-text {
      @include inter-font;
      position: relative;
      text-align: center;
      color: $text;

      .greet {
        @include roboto-bold-font;
        font-size: 64px;
        animation: fadeIn 2s forwards;
      }
      .info {
        @include roboto-bold-font;
        font-size: 24px;
        animation: fadeInInfo 2s forwards;
      }

      hr.vertical {
        position: absolute;
        right: 20px;
        top: 0;

        &-short {
          animation: lineToRight 1s forwards;
          @include transitionEaseInOut(1s);
        }
        &-tall {
          animation: lineToLeft 1s forwards;
          @include transitionEaseInOut(1s);
        }
      }
    }

    hr.horizontal {
      position: absolute;
    }
    hr.toBottom {
      animation: lineToBottom 1s forwards;
      @include transitionEaseInOut(1s);
    }
    hr.toTop {
      animation: lineToTop 1s forwards;
      @include transitionEaseInOut(1s);
    }
  }
}

.p-left > hr {
  margin-left: -39px;
}
.gapping {
  height: 100vh;
}

.p-left {
  padding-left: 20px;
}

main {
  // background-repeat: no-repeat;
  // background-position-x: -80px;
  // background-position-y: 0;
  color: $text;
  font-size: 1.6rem;
  margin-top: 8rem;
}
.services-section {
  margin-top: 4rem;
  .languages {
    margin: 4rem 0;
    @include flexCenter;
    flex-direction: column;
    gap: 8rem;

    div {
      @include flexCenter;
      flex-wrap: wrap;
      gap: 4rem;

      img {
        height: 200px;
        width: 200px;
      }
    }
  }
  .heading {
    margin-bottom: 4rem;
  }
}
.gallery {
  padding: 4rem 0;
  background-image: url("/public/Road.svg");
  background-size: contain;
  background-position-x: 900px;
  background-repeat: no-repeat;
  background-position-y: -1px;

  .projects-container {
    @include flexCenter;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;

    .project {
      @include flexCenter;
      cursor: pointer;
      gap: 40px;
      width: 80%;

      .rotate {
        transform: rotate(180deg);
        @include transitionEaseInOut(300ms);
      }

      &__img {
        width: 300px;
      }
      &__text {
        div {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-bottom: 40px;
          .project__chevron {
            @include transitionEaseInOut(300ms);
          }
        }
        h3 {
          font-size: 3rem;
          text-wrap: nowrap;
        }
        .project_hidden {
          opacity: 0;
          height: 0;
          overflow: hidden;
        }
        .project_shown {
          height: fit-content;
          opacity: 100%;
          transition: ease-in 800ms;
        }
      }
    }
  }
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: #323232;
  padding: 2rem 4rem;
  border-radius: 1rem;
  div {
    display: flex;
    align-items: end;
    gap: 1rem;

    p {
      font-size: 0.95rem;
      color: $text;
      text-wrap: wrap;
    }
    a {
      height: 54px;
    }
  }
}
* {
  -webkit-tap-highlight-color: transparent; //removes the blue box when clicking on any div
}
.nav-item {
  pointer-events: all;
}
.link {
  text-decoration: underline;
}
.brand-logo {
  filter: grayscale(100);
}
.brand-logo:hover {
  animation: brand 500ms forwards;
}
#rotated-blob {
  animation: blob-rotation 1s forwards;
}
#blob {
  animation: blob-rotation-backwards 1s forwards;
}
